.calculadora{
    background: rgb(199, 104, 104);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px rgb(194, 189, 189);
}
.calculadoraESG{
    background: rgb(194, 97, 97);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px rgb(194, 189, 189);
}
.calculadora input{
    background: rgb(9, 103, 146);
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.calculadora input:focus{
    background: rgb(66, 2, 2);
    color: white;
    padding: 5px;
    border-radius: 10px;
}
#spTotal{
    background: rgb(197, 30, 30);
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.calculadora button{
    background: rgb(158, 190, 231);
    color: rgb(77, 9, 9);
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
}
.calculadora button:hover{
    background: rgb(168, 168, 168);
    color: rgb(26, 13, 13);
    cursor: pointer;
}
.calcF{
    display: none;

}
#input-calcF{
    display: none;
}
h5{
    color: rgb(255, 255, 255);
}
#input-calcF:checked + .calculadora .calcF{
    display: block;
}
